@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import "tailwindcss";

@property --home-border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --text-tiny: 0.5rem;
  --text-little: 0.6rem;
  --font-homet: "Montserrat", sans-serif;
  --font-sign: "Momo Signature", sans-serif;

  --animate-rotate-border: border-rotate 3s linear infinite;
  @keyframes border-rotate {
    to {
      --home-border-angle: 360deg;
    }
  }

  --animate-rotate-border-hover: border-rotate 0.7s linear infinite;
  @keyframes border-rotate {
    to {
      --home-border-angle: 360deg;
    }
  }
}

.navButton {
  @apply cursor-pointer text-gray-100 font-bold text-sm px-2 py-1 border-2 border-gray-100 hover:bg-gray-100 hover:text-gray-800 rounded-lg transition duration-300
}

.connectButton {
  @apply cursor-pointer text-black font-medium rounded-full p-1 text-center inline-flex items-center mx-9 mb-2
}

.connectAnchor {
  @apply flex flex-col justify-center rounded-full px-9 py-1.5 bg-radial from-gray-500 to-zinc-900
}

.connectDescription {
  @apply text-tiny sm:text-xs max-w-xs sm:max-w-md text-zinc-300 sm:pt-1
}

.connectLinkTitle {
  @apply flex items-center justify-center text-base text-zinc-100 sm:text-2xl
}

.careerTimeline {
  @apply flex items-center justify-center text-base
}

.careerDescription {
  @apply text-tiny sm:text-xs max-w-xs sm:max-w-md text-gray-500 sm:pt-1 justify-start
}