@import "tailwindcss";

.navButton {
  @apply cursor-pointer text-gray-100 font-bold text-sm px-2 py-1 border-2 border-gray-100 hover:bg-gray-100 hover:text-gray-800 rounded-lg transition duration-300
}

.optionButton {
  @apply cursor-pointer
}

.connectButton {
  @apply cursor-pointer text-black bg-white font-medium rounded-full px-9 py-2.5 text-center inline-flex items-center me-2 mb-2
}